.hero {
  margin-top: -20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url(/assets/relish-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 60vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .nav-wave {
    img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: -1px;
    }
  }

  .title {
    color: #ffffff;
    margin: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 3rem;
      line-height: 3rem;
      padding-bottom: 1.5rem;
      font-family: Elsie;
    }
  }
}

.mobile-ticket-container {
  padding: 0.35rem 0;
  position: fixed;
  bottom: 0rem;
  right: 0rem;
  z-index: 999;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;

  #eventbrite-widget-modal-trigger-142035747745 {
    color: white;
    padding: 0.75rem 5rem;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background: #ed2b33ff;
    // background: linear-gradient(
    //   90deg,
    //   var(--red) 0%,
    //   hsla(0, 100%, 69%, 1) 100%
    // );
  }
}
.info {
  padding: 2rem;
}

.twave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.bwave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: -1px;
}

.left-half {
  display: none;
}

.right-half {
  h2 {
    color: #1b3b46;
    margin: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.5rem;
    text-align: center;
  }

  p {
    padding-top: 3rem;
    text-align: center;
  }
}

.program {
  background: #f6f6f6;
  padding: 2.5rem 0;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;

  h2 {
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
}
.prog-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  margin: 0 auto;
  max-width: 80%;
  height: 50vh;
  overflow: hidden;
  margin-top: 1rem;

  .top {
    width: 100%;
    height: auto;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .bottom {
    h2 {
      position: absolute;
      bottom: 0;
      right: 3rem;
    }
    button {
      position: absolute;
      top: 0px;
      left: 0px;
      border: none;
      background-color: white;
      padding: 1rem 1.5rem;
      font-family: raleway;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.program-card-single {
  position: relative;
  margin: 0 auto;
  height: 25vh;
  width: 80%;
}

.food {
  margin-top: 1rem;
  background: url(../assets/Cheese_1662x1020.jpg);
  background-position: center;
  background-size: cover;
}

.music {
  margin-top: 1rem;
  background: url(../assets/live-music.jpg);
  background-position: center;
  background-size: cover;
}

.session {
  margin-top: 1rem;
  background: url(../assets/Gin-Joint_Venue2.jpg);
  background-position: center;
  background-size: cover;
}

.prog-card-test {
  h2 {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    padding: 1rem 1.5rem;
    font-family: raleway;
    font-size: 1rem;
    font-weight: bold;
  }
  button {
    position: absolute;
    top: 0px;
    left: 0px;
    border: none;
    background-color: white;
    padding: 1rem 1.5rem;
    font-family: raleway;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
}

.tickets {
  margin: 2rem;
}

.sponsors {
  position: relative;
  margin: 2rem auto;
  background: #f6f6f6;
  width: 100%;
  padding: 2rem 0;

  #sponsor-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  h2 {
    padding: 2rem 0;
  }

  .sponsor-single {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;

    img {
      width: 60%;
      height: auto;
    }
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 75vh;
  }

  .mobile-ticket-container {
    display: none;
  }

  .info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .program {
    padding: 7rem 0;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    flex-basis: 700px;

    .prog-card {
      max-width: 30%;
    }
  }

  .sponsors {
    padding: 5rem 0;
    margin: auto 0;

    #sponsor-container {
      display: flex;
      flex-direction: row;
    }

    .sponsor-single {
      max-width: 300px;
      margin: 0;
      padding: 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .program-card-single {
    position: relative;
    margin: 0 auto;
    height: 25vh;
    width: 30%;
  }

  .prog-card-test {
    h2 {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: white;
      padding: 1rem 1.5rem;
      font-family: raleway;
      font-size: 1rem;
      font-weight: bold;
    }
    button {
      position: absolute;
      top: 0px;
      left: 0px;
      border: none;
      background-color: white;
      padding: 1rem 1.5rem;
      font-family: raleway;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
    }
  }

  footer {
    #logo-container {
      max-width: 15vw;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .hero {
    height: 80vh;

    .title {
      max-width: 500px;
    }
  }
  #eventbrite-widget-modal-trigger-142035747745 {
    padding: 1rem 2rem;
    width: 150px;
  }

  .program-card-single {
    height: 40vh;
    width: 30%;
  }

  .prog-card-test {
    h2 {
      padding: 1.5rem 2rem;
    }
    button {
      position: absolute;
      top: 0px;
      left: 0px;
      border: none;
      background-color: white;
      padding: 1rem 1.5rem;
      font-family: raleway;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .info {
    width: 75%;
    margin: auto;
  }
  .left-half {
    width: 40%;
    display: block;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .right-half {
    width: 60%;

    p {
      padding: 2rem;
    }
  }

  .prog-card {
    width: 20vw;
    button {
      font-size: 1em;
    }
  }

  footer {
    margin-top: 1rem;
    #logo-container {
      max-width: 10vw;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .ticket-container {
    margin: 0 auto;
    max-width: 1200px;
  }
}

@media only screen and (min-width: 1500px) {
  .info {
    h2 {
      max-width: 85%;
    }

    p {
      margin: auto;
      max-width: 85%;
    }
  }

  .right-half {
    margin-left: -4rem;
  }

  .program {
    padding: 10rem;
  }

  .sponsors {
    padding: 7.5rem 0;
  }

  footer {
    margin-top: 1rem;
    #logo-container {
      max-width: 10vw;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media only screen and (min-width: 2000px) {
  .main {
    max-width: 1920px;
    margin: 0 auto;
  }
  .info {
    h2 {
      max-width: 85%;
    }

    p {
      margin: auto;
      max-width: 85%;
    }
  }
}
